// Primary colors
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);

// Neutral colors
$darkGrayishBlue: hsl(210, 10%, 33%);
$grayishBlue: hsl(201, 11%, 66%);

// Font size
$generalFontSize: 18px;

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
